{
    "discord": {
      "notification_channel_id": "your_discord_channel_id_here",
      "dm_notifications_enabled": true
    },
    "new_user_invite": {
      "enabled": true,
      "role_id": "new_user_role_id_here",
      "invite_link": "https://your.invite.link/here"
    },
    "overseerr": {
      "enabled": false,
      "base_url": "http://overseerr.example.com",
      "api_key": "your_overseerr_api_key_here",
      "refresh_interval_minutes": 60
    },
    "sonarr_instances": [
      {
        "name": "Sonarr",
        "url": "http://sonarr.example.com:8989",
        "api_key": "your_sonarr_api_key_here",
        "enabled": true
      },
      {
        "name": "Sonarr-Anime",
        "url": "http://sonarr-anime.example.com:8989",
        "api_key": "your_sonarr_anime_api_key_here",
        "enabled": false
      },
      {
        "name": "Sonarr-4k",
        "url": "http://sonarr-4k.example.com:8989",
        "api_key": "your_sonarr_4k_api_key_here",
        "enabled": false
      }
    ],
    "user_mappings": {
      "plex_to_discord": {
        "plex_username_1": "discord_user_id_1",
        "plex_username_2": "discord_user_id_2"
      }
    },
    "log_level": "info"
  }