services:
    ts-plexbot:
        image: tailscale/tailscale:latest
        container_name: ts-plexbot
        hostname: plexbot
        env_file:
            - .env
        environment:
            - TS_STATE_DIR=/var/lib/tailscale
            - TS_USERSPACE=false
        volumes:
            - ${PWD}/ts-plexbot/state:/var/lib/tailscale
        devices:
            - /dev/net/tun:/dev/net/tun
        cap_add:
            - net_admin
            - sys_module
        restart: unless-stopped

    plexbot:
        network_mode: service:ts-plexbot
        image: ghcr.io/devinvee/plexbot:dev  # Use :latest for production, :dev for development
        container_name: plexbot
        env_file:
            - .env
        volumes:
            - ./config.json:/app/config.json:ro
        tty: true
        # remove the next two lines if not using the tailscale sidecar above
        depends_on:
            - ts-plexbot
